
.container__wrapper {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 4rem;
    background-color: #1A1423;
}

.logo {
    display: flex;
    align-items: center;

    &:hover {
        span {
            color: white;
            opacity: 1;
            visibility: visible;
            -webkit-animation: text-focus-in 1s cubic-bezier(.55, .085, .68, .53) both;
            animation: text-focus-in 1s cubic-bezier(.55, .085, .68, .53) both;
            transition: opacity 0.3s ease, visibility 0s;
            font-size: 2rem;
        }
    }

        &:not(:hover) span {
            animation: text-blur-out 1s cubic-bezier(.55, .085, .68, .53) both;
            color: white;
            font-size: 2rem;
            display: none;
        }
}

.header__options {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;

    li, a {
        list-style: none;
        text-decoration: none;
        text-decoration-line: none;
        font-size: 1.5rem;
        color: white;

        &:hover {
            color: #ffcc00;
        }
    }
}

.header__options ul {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header__buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}


/* Animação de saída (blur-out) */
@-webkit-keyframes text-blur-out {
    0% {
        -webkit-filter: blur(.01);
        filter: blur(.01);
        opacity: 1;
    }

    100% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
}

@keyframes text-blur-out {
    0% {
        -webkit-filter: blur(.01);
        filter: blur(.01);
        opacity: 1;
    }

    100% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
}

/* Animação de entrada (focus-in) */
@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}


@media (min-width: 320px) and (max-width: 706px) {
    .container__wrapper {
        padding: 0.5rem 2rem;
        flex-direction: column;
        gap: 1rem;
    }

    .header__options {

        nav {
            display: none;
        }
    }

    .logo {
        span {
            display: none;
        }
    }
}