<header>
  <div class="container__wrapper">

    <div class="logo">
      <a href="#" class="logo">
        <img src="assets/logo.png" alt="Logo" width="100" />
      </a>
      <span>Me Lembra Ai</span>
    </div>

    <div class="header__options">

      <nav>
        <ul>
          <li class="link__option"><a href="/about">Sobre</a></li>
          <li class="link__option"><a href="/contact">Contato</a></li>
        </ul>
      </nav>

      <div class="header__buttons">
        <p-button label="Login" rounded pRipple class="btn"/>
        <p-button label="Registrar" rounded pRipple class="btn btn--login"/>
      </div>

    </div>

  </div>
</header>
