<app-header />
<section class="main__section">
  <div>
    <app-card
      title="Sobre nós"
      content="O Me Lembra Ai é um projeto pessoal de um engenheiro de software do interior do estado de São Paulo. Em forma de agradecimento e querendo contribuir para a comunidade e também para sua irmã, o projeto foi criado e desenvolvido por ele."
      imgSrc="assets/about-me.svg"
    />
  </div>
  <div>
    <app-card
      title="Motivação"
      [content]="content"
      imgSrc="assets/ideia.svg"
      [reversed]="true"
    />
  </div>
</section>
<section class="tech__section">
  <div class="tech__container">
    <div>
      <h1>Tecnologias Usadas</h1>
    </div>
    <div>
      <app-infinite-carousel />
    </div>
  </div>
</section>

<app-footer />
