.main__section {
    margin: 0 auto;
    width: 90%;
    padding: 1rem;
    line-height: 2;
}

.tech__section {
    margin: 0 auto;
    padding: 1rem;
    line-height: 2;
    text-align: center;
    color: black;
    background-color: #b85e6a;
    h1 {
        font-size: 2rem;
        font-weight: bold;
    }
}

.tech__container {
    width: 100%;
    margin: 0 auto;


    h1 {
        margin-bottom: 2rem;
    }
}
