<div class="slider" style="--width: 14rem; --quantity: 5">
  <div class="list">
    <div class="item" style="--position: 1">
      <img src="assets/spring.svg" alt="" />
    </div>
    <div class="item" style="--position: 2">
      <img src="assets/angular.svg" alt="" />
    </div>
    <div class="item" style="--position: 3">
      <img src="assets/docker.svg" alt="" />
    </div>
    <div class="item" style="--position: 4">
      <img src="assets/vercel.svg" alt="" />
    </div>
    <div class="item" style="--position: 5">
      <img src="assets/mysql.svg" alt="" />
    </div>
  </div>
</div>
