<body>
  <div class="logos">
    <div class="logos-slide">
      <img src="assets/spring.svg" />
      <img src="assets/angular.svg" />
      <img src="assets/postgre.svg" />
      <img src="assets/docker.svg" />
      <img src="assets/vercel.svg"  />
    </div>
    <div class="logos-slide">
      <img src="assets/spring.svg"  />
      <img src="assets/angular.svg"  />
      <img src="assets/postgre.svg"  />
      <img src="assets/docker.svg"  />
      <img src="assets/vercel.svg"  />
    </div>
    <div class="logos-slide">
      <img src="assets/spring.svg"  />
      <img src="assets/angular.svg"  />
      <img src="assets/postgre.svg"  />
      <img src="assets/docker.svg"  />
      <img src="assets/vercel.svg"  />
    </div>
  </div>
</body>
