<footer class="footer__container">
  <div class="footer__content">
    <div class="footer__logo">
      <div>
        <h2>Me Lembra Ai</h2>
      </div>
    </div>
    <div class="footer__options">
      <div class="footer__options__column">
        <div>
          <h3>Produto</h3>
        </div>
        <a href="/about">
          <div class="opt">Sobre</div>
        </a>
        <a href="/contact">
          <div class="opt">Contato</div>
        </a>
        <a href="/terms">
          <div class="opt">Termos e Condições</div>
        </a>
      </div>
      <div class="footer__options__column">
        <div>
          <h3>Empresa</h3>
        </div>
        <a href="/about">
          <div class="opt">Quem Somos</div>
        </a>
        <a href="/about/#techs">
          <div class="opt">Técnologias Usadas</div>
        </a>
      </div>
      <div class="footer__options__column">
        <div>
          <h3>Links</h3>
        </div>
        <div>
          <a
            href="https://www.linkedin.com/in/dev-pedro-oliveira/"
            target="_blank"
          >
            <span class="pi pi-linkedin" style="font-size: 1.5rem"></span>
          </a>
        </div>
        <div>
          <a href="https://www.github.com/sspedroo" target="_blank">
            <span class="pi pi-github" style="font-size: 1.5rem"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__copy">
    <p>© 2024 Me Lembra Ai. Todos os direitos reservados.</p>
  </div>
</footer>
